.best {
  background: url('../img/bg/best_bg.jpg') center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best__icon-pic {
  width: 90%;
  height: rem(100px);
  svg {
    max-width: 95%;
  }
}

.section__title_best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(60px);
}

.best__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: rem(50px);
  padding: 0 rem(15px);
  flex: 1;

  @include phones {
    flex-direction: row;
    text-align: left;
  }
}


.section__title_black {
  color: $dark;
  margin-bottom: rem(50px);
}
.best__title{
  font-family: Lifehack;
  font-size: rem(24px);

  @include tablets{font-size: rem(25px);}
  @include phones{font-size: rem(24px);}
}
.best__text {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: lighten($dark, 40%);
    @include phones{font-size: rem(16px);}
}