.best {
  background-image: url('../img/bg/best_bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best__container {

}

.section__title_best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(60px);
}

.best__list {
  display: flex;
}

.best__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: rem(120px);
  flex: 1;
}

@each $img in meat, hand, natural {
  .best__item_#{$img} {
    background: url(../img/content/best/icons/#{$img}.png) top center no-repeat;
  }
}

.best__item-header {
  font-family: Lifehack;
  font-size: 24px;
  color: $dark;
}

.best__item-description {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: .9rem;
  color: lighten($dark, 40%);
}