.footer {
  width: 100%;
  background: url("../img/bg/footer_bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  margin-top: -50px;
  position: absolute;
  min-height: 50px;
  @include tablets {
    margin-top: -80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @include phones{
    margin-top: -70px;
  }
}

.footer__container {
  display: flex;
  flex-direction: row;

  @include tablets{
    flex-direction: column;
  }
}

.footer__left, .footer__right {
  width: 50%;
  display: flex;
  margin: rem(5px) rem(14px);
  @include tablets {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

.footer__left {
}

.footer__right {
}

.footer__contacts {
  font: 300 rem(14px) 'Ubuntu';
}

.footer_address {
  color: $white;
  margin-bottom: 2%;
}

.footer__phone {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  &:hover {
    border-bottom: 1px solid $orange;
  }
}

.social-icon, .social-icon__list {
  height: 100%;
  width: 100%;
}

.social-icon {
  display: flex;
  justify-content: flex-end;
  &:hover {
    fill: $white;
    strike: $white;
  }
  @include tablets {
    justify-content: center;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include tablets {
    justify-content: center;
  }
}

.socials__item {
  margin-right: rem(20px);
  opacity: .3;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  &:hover {
    opacity: 1;
  }
}

.socials__link {
  display: block;
  width: 22px;
  height: 22px;
}

@each $social-icon in vk, fb, inst, twitter {
  .social-icon__item-link_#{$social-icon} {
    background: url(../img/content/footer/#{$social-icon}.png) top center no-repeat;
  }
}