.hero {
  background: url('../img/bg/hero_bg.jpg') center center / cover no-repeat;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10px);

}

.header__logo {
  margin-right: auto;
}

.logo {
  display: block;
}

.logo__img{
  @include tablets{
    position: absolute;
    z-index: 9999;
  }
}
// антипаттерн
.header__menu {
  margin-right: rem(15px);
  @include tablets {
display: none;

  }
}
.header__btn{
  margin-right: rem(85px);
}
.header__menu-trigger{
  //background: url("../img/content/hero/navicon.png") center center / cover no-repeat;
  order: 2;
  margin-right: 0;
  margin-left: rem(15px);
    content: "";
    display: none;
    width: 24px;
    height: 22px;
    position: absolute;
    top: 1.5%;
    bottom: 0;
    left: 90%;
    background: $black;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  @include tablets{
    display: block;
  }
  &:hover {
    opacity: 1;
  }
}

.header__menu_adaptive {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($black, .99);
  z-index: 999;
}

.nav_adaptive {
  padding-top: 10%;
}

.nav__list {
  margin: 0;
  padding: 0;
  @include tablets {
    height: 0;
    overflow: hidden;
  }
}

.nav__list_adaptive {
  text-align: center;
  font-size: rem(24px);
  font-family: Ubuntu;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}

.nav__item_adaptive {
  position: relative;
  margin: 25px 0;
  &:after {
    display: block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    left: 50%;
    top: 150%;
    position: absolute;
    margin-bottom: 50px;
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border-bottom: rem(1px) solid transparent;
  opacity: .7;
  -webkit-transition: all .5s;
  transition: all .5s;
  &:hover {
    border-bottom: rem(1px) solid $white;
    opacity: 1;
  }
}

.hero__container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 10%;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.hero__left,
.hero__right {
  //float: left;
  width: 50%;
  @include tablets() {
    float: none;
    width: 100%;
  }
}

.hero__left {
  background: url('../img/content/hero/burger_drops.png') center center / contain no-repeat;
  height: rem(451px);
}

.hero__right {
  padding-top: rem(115px);
  @include tablets() {
    padding-top: 0;
  }
}

.hero__img, .hero__description {
  display: flex;
}

.hero__img-pic {
  max-width: 100%;
}

.hero__description {
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: rem(60px);
}

%test {
  color: white;
}

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: 1;
  @extend %test;
}

.hero__arrow-scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: .7;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  &:hover {
    opacity: 1;
  }
}

.hero__close-popup{
  position: absolute;
  right: 10%;
  top: 5%;
  opacity: .6;
  transition: opacity .3s;
  &:hover{
    opacity: 1;
  }
}