.reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  justify-content: space-between;

}

.reviews__item {
  width: 25%;
  height: 50%;

  @include tablets{
    width: 50%;
    height: 25%;
  }

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
}

.reviews__img {
  display: flex;
  width: 100%;
  height: 100%;
}

.reviews__description {
  position: absolute;
  background: rgba(#000000, .7);
  color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10% 5%;
  opacity: 0;
}
.reviews__item:hover .reviews__description{
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.reviews__header {
  font-family: Gagalin;
  font-size: rem(14px);
}

.reviews__text {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: rem(14px);
  margin-top: 10%;
  margin-right: 10%;
}

.reviews__btn {
  margin-top: 10%;
}
.btn-link_reviews{
  background: $dark;
    &:hover{
      background-color: darken($dark, 7%);
    }
}