.reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  justify-content: space-between;

}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
  }

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
}

.reviews__img {
  display: flex;
  width: 100%;
  height: 100%;
}

.reviews__description {
  position: absolute;
  background: rgba(#000000, .7);
  color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10% 5%;
  opacity: 0;
  @include tablets{
    text-align: center;
  }
}

.reviews__item:hover .reviews__description {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.reviews__header {
  font-family: Gagalin;
  font-size: rem(14px);
  @include phones{
    font-size: rem(24px);
  }
}

.reviews__text {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: rem(14px);
  margin-top: 10%;
  margin-right: 10%;
  @include tablets{
    margin-top: 2%;
  }
  @include phones{
    display: none;
  }
}

.reviews__btn {
  margin-top: 10%;
  @include tablets{
       padding-top: 0;
       margin-top: 5%;
     }
  @include phones{
    content: 'dgdjkgdjk';
  }
}

.btn-link_reviews {
  background: $dark;
  &:hover {
    background-color: darken($dark, 7%);
  }
}

.reviews__popup {
  display: none;
  will-change: opacity;
  transition: .3s;
  background: #ffffff;
  border-radius: 8px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background: rgba($black, .8);
}

.popup__content {
  padding: 2.3% 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(400px);
  min-height: rem(200px);
  z-index: 9999999;
  background: $white;
  border-radius: 8px;
}

.popup__header {
  font-size: 14px;
  font-family: Gagalin;
  font-weight: 400;
  padding-bottom: 5%;
}

.popup__text {
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 300;
}

.popup__close {
  width: 15px;
  height: 15px;
  background: url("../img/content/reviews/close.png") center center no-repeat;
  display: block;
  position: absolute;
  top: 10%;
  right: 5%;
  opacity: .5;
  transition: opacity .3s;
    &:hover{
      opacity: 1;
    }
}

.btn-link_reviews-text {
  display: inline-block;
  @include phones {
    display: none;
  }
}

.btn-link_reviews-text_adaptive{
  display: none;
  @include phones{
    display: inline-block;
  }
}